.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    width: 310px;
    box-shadow: 0px 0px 24px rgba(183, 183, 183, 0.22);

    .authButton {
      margin-top: 15px;
      text-align: center;
    }

    .buttonGroup {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .link {
      }
    }

    .tittle {
      text-align: center;
    }

    .inputGroup {
      display: flex;
      flex-direction: column;
      width: 100%;

      .input {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}
